h2 {
    text-align: center;
}

.reclamation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reclamation-container .reclamation-item {
    padding: 1.5em;
    border: 1px solid #000;
    width: 60%;
    margin: 20px auto;
}

.reclamation-container .reclamation-item h3 {
    text-align: center;
}

.reclamation-container .reclamation-item .descricao,
.reclamation-container .reclamation-item .endereco {
    margin: 1em 1em;
}

.reclamation-container .reclamation-item .footer-card {
    display: flex;
    justify-content: space-between;
    margin: 1em 1em;
}

.reclamation-container .reclamation-item .footer-card .footer-card-tipo, 
.reclamation-container .reclamation-item .footer-card .footer-card-interacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reclamation-container .reclamation-item .footer-card .footer-card-imagem {
    display: flex;
    align-self: initial;
    justify-content: end;
}

.reclamation-container .reclamation-item .footer-card img {
    max-width: 30%;
    max-height: 100%;
    object-fit: contain;
  }