
.btn-enviar {
    margin-top: 10px;
}

.cor-comentario {
    background-color: rgba(36, 50, 102, 1);
    color: white;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title button {
  position: relative;
}
