 
.row {  
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, transparent, rgba(7, 18, 40, 0.4), rgb(7, 18, 40));
}

.custom-text-color {
    color: white;
}

.login-form-container {
    margin-left: 100px;
}

.info { 
    color: rgb(19, 66, 236);
    text-shadow: 0 0 0 rgba(19, 66, 236, 0.8),
            0 0 0 rgba(19, 66, 236, 0.8);
}