.form-page {
  width: 100%;
  min-height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 24px;
}

.form-page .custom-text-color {
  color: #100434;
}

.form-page .form-container {
  width: 600px;
  padding: 32px 64px;
  border: 1px solid #100434;

  /* glassmorphism */
  box-shadow: 8px 8px 4px 0 rgba( 31, 38, 135, 0.3 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 12px;
}

.form-page .form-container .form-group {
  margin-top: 12px;
}

.form-page .form-container .form-group input {
  border: 1px solid #100434;
}

.form-page .form-container .form-group.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-page .form-container .form-group.button-group .primary-button {
  background-color: #100434;
  border: none;
  border-radius: 4px;
  padding: 8px 32px;
  color: #fafafa;
  text-transform: uppercase;
}

.form-page .form-container .invalid-field {
  border: 2px solid red;
}

.form-page .form-container .error-message {
  color: red;
  font-size: 12px;
  text-transform: lowercase;
}
